@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Playfair+Display&family=Poppins:wght@500&display=swap');


body{
    
font-family: 'Poppins', sans-serif;
}
header{
    margin-left: 200px;
}
body h1{
    font-weight: 700px;
    font-size: 3em;
    
}
/* -----------
top-part style
 --------- */

.top-part{
    
    display: flex;
    justify-content: space-evenly;
  
}

.top-part-text a{
    text-decoration: none;
    background-color: hotpink;
    color:white;
    padding: 5px 10px;
    border-radius: 20px;
}
.top-part-img{
   
    height: 414px;
    width: 440px;
}
.top-part-text{
   
    height: 270px;
    width: 582px;
}
/* products part style  */

.products-part{

    display: grid;
    grid-template-columns: repeat(3,1fr);
     
    justify-content: center;
    background-color: rgb(252, 249, 249);
    margin: auto;
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    
}
 h3{
    text-align: center;
}

.fa-star.filled{
    color: orange;
    height: 16px;
    width: 16px;

}
.fa-star.empty{
    color: gray;
    height: 16px;
    width: 16px;

}
.product-detail p{
    font-size: 14px;
  
    

}
main a{
    text-decoration: none;
    color: hotpink;
    float:right;
   
    
}
main{
  padding-bottom: 30px;  
}

footer{
    background-color: #0f0f0f;
   
    color: white;
    text-align: center;
    padding-top: 10px;
  
}

span{
    font-size: 16px;
}
.icon{
    font-size: 20px;
    color: white;
    text-align: center;
}
